
/* -------------- RESET -------------- */

html {
  height: 100%;
  box-sizing: border-box;	
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

/* --------- ESTILOS ----------*/ 

body {
  font-family: 'robotoregular', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* -------------- PAGINA INTERNA -------------- */


/* Imagen de fondo "arboles" */
body {
  background-image: url("../img/bg_arboles2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;	 
}	

div.main {
  margin: 0px;
  padding: 0px;  
}

/* "Reciclando" */

.reciclando {
  background: #FFAF00;
  background: linear-gradient(180deg, #f9b52b -5%, #c67700 100%);
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  -webkit-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.21);
  box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.21);
}

.reciclando h1 {
  font-family: 'robotoblack', sans-serif;
  margin: 2vw 4vw;
  font-size: 7vw;
}


/*----- WRAPPER-----*/

.wrapper-feedback {
  margin: 5vw 5vw;
  background: #fff;
  border-radius: 14px;
  -webkit-box-shadow: 6px 6px 24px -3px rgba(0,0,0,0.51);
  -moz-box-shadow: 6px 6px 24px -3px rgba(0,0,0,0.51);
  box-shadow: 6px 6px 24px -3px rgba(0,0,0,0.51);  
  text-align: center;
  padding: 8vw 2vw;
  width: 85%;
  font-family: 'robotomedium', sans-serif;  
}

.wrapper-feedback p {
  color: #4C4C4C;
  font-size: 5.5vw;
  margin: 1.2vw;
}

.wrapper-feedback h1 {   
  font-size: 9vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.wrapper-feedback h1.good { color: #00A237; }
.wrapper-feedback h1.bad { color: #B21227; }

.wrapper-feedback .puntos {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-bottom: 4vw;
}
